//homePage cards
.card {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    
    height: 120px;

    padding-top: 15%;

    i{
        height: 60%;
    }
    a{
        height: 15%;
        color: white;
        font-size: small;
        text-align: center;
        text-overflow: hidden;
    }
  }


  
  
  
  
  